.centerLabel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;

  position: absolute;
  height: 40px;
  left: 0;
  width: fit-content;
  margin: auto;
  right: 0;
  top: 0;
  bottom: 0;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(4.4px);
  border-radius: 40px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  z-index: 2;

  color: #ffffff;

  &.timer {
    &::before {
      content: '';
      width: 20px;
      height: 20px;
      background-image: url(./Timer.svg);
    }
  }
}
